/* 메인 */
main {
  height: 1120px;
  background-image: url(../assets/image/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  .text {
    position: absolute;
    top: 297px;
    left: 571px;
  }
  h3 {
    font-size: 60px;
  }
  .tag {
    text-align: right;
    line-height: 1.4;
    margin-top: 25px;
  }
  .gijangLogo {
    position: absolute;
    width: 215px;
    left: 77px;
    top: 223px;
  }
  .gijangMap {
    position: absolute;
    width: 346.44px;
    height: 440px;
    left: 156px;
    top: 332px;
  }
  .city {
    position: absolute;
    bottom: 49px;
    right: 50%;
    transform: translateX(50%);
  }
}

/* 하단 메뉴 */
body nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 35px;
  box-sizing: border-box;
  transform: translateY(-50px);
  height: 850px;
  width: 100%;
  background: linear-gradient(180deg, #f0f0f0 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 30px;
  background-color: #fff;
  section {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    margin: 0 auto;
    gap: 26px;
    justify-items: center;
    div {
      display: flex;
      width: 311px;
      height: 280px;
      background: #ffffff;
      border: 2px solid #e0e0e0;
      /* shadow_menu */
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      img {
        height: 100px;
      }
    }
    p {
      font-size: 48px;
    }
  }
}
.sub-menu {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding-top: 24px;
  color: #fff;
  gap: 26px;
  padding: 0 8px;
  div {
    width: 50%;
    background: #052563;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    /* shadow_menu */
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100px;
    padding-left: 20px;
  }

  p {
    font-size: 40px;
    text-align: right;
  }
}

.alert-dialog {
  width: 865px;
  height: 280px;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
  background-color: #1d2088;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 20%);
}
.alert-dialog .title.modal {
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.alert-dialog .title.modal p {
  display: block;
}
.alert-dialog .title.modal em {
  font-size: 32px;
}
